In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
energy_df = pd.read_csv('energy data.csv')
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
energy_df.drop(columns=['date','lights'], inplace=True)
energy_df.head(2)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,45.566667,17.166667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,45.992500,17.166667,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(data = scaler.fit_transform(energy_df), columns=energy_df.columns)
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369132,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365595,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357878,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

# ques 12

In [5]:
features = normalized_df['T2'].values

In [6]:
target = normalized_df['T6'].values

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split( features,target, test_size=0.3, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
Linear_regression = LinearRegression()

In [11]:
X_train = X_train.reshape(-1,1)
y_train = y_train.reshape(-1,1)

In [12]:
Linear_regression.fit(X_train,y_train)

LinearRegression()

In [13]:
X_test = X_test.reshape(-1,1)

In [14]:
predict = Linear_regression.predict(X_test)

In [15]:
from sklearn import metrics

In [16]:
r2 = metrics.r2_score(y_test,predict)
round(r2,2)

0.64

# ques 13

In [17]:
features_data = normalized_df.drop(columns='Appliances')

In [18]:
features_data.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369132,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365595,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357878,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [19]:
target_data = normalized_df['Appliances']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split( features_data,target_data, test_size=0.3, random_state=42)

In [22]:
from sklearn.linear_model import LinearRegression

In [27]:
Linear_regression2= LinearRegression()
Linear_regression2.fit(X_train,y_train)

LinearRegression()

In [28]:
y_pred = Linear_regression2.predict(X_test)

In [29]:
y_pred

array([0.03319482, 0.24412217, 0.0340092 , ..., 0.06843864, 0.09999407,
       0.05760656])

In [30]:
from sklearn import metrics
MAE = metrics.mean_absolute_error(y_test,y_pred)
round(MAE,2)

0.05

# ques 14

In [32]:
rss = np.sum(np.square(y_test - y_pred))
rss
round(rss,2)

45.35

# ques 15

In [33]:
RMSE = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
RMSE
round(RMSE,3)

0.088

# ques 16

In [35]:
r2 = metrics.r2_score(y_test,y_pred)
round(r2,2)

0.15

# ques 17,19

In [37]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [38]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [39]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [40]:
linear_model_weights = get_weights_df(Linear_regres2, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

In [41]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [42]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456662     -0.411048     -0.000000
1         T_out            -0.321969     -0.262343      0.000000
2            T2            -0.236198     -0.201417      0.000000
3            T9            -0.189977     -0.188948     -0.000000
4          RH_8            -0.157585     -0.156818     -0.000110
5        RH_out            -0.077748     -0.054822     -0.049557
6          RH_7            -0.044620     -0.045983     -0.000000
7          RH_9            -0.039808     -0.041373     -0.000000
8            T5            -0.015645     -0.019840     -0.000000
9            T1            -0.003242     -0.018372      0.000000
10          rv1             0.000765      0.000744     -0.000000
11          rv2             0.000765      0.000744     -0.000000
12  Press_mm_hg             0.006832      0.006578     -0.000000
13           T7             0.010350      0.010126     -0.000000
14   Visibility             0.012306      0.012076      0.000000
15         RH_5             0.016009      0.016154      0.000000
16         RH_4             0.026370      0.024565      0.000000
17           T4             0.028957      0.027364     -0.000000
18    Windspeed             0.029178      0.030262      0.002912
19         RH_6             0.038023      0.035500     -0.000000
20         RH_3             0.096095      0.095173      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117862      0.083261      0.000000
23           T6             0.236441      0.217324      0.000000
24           T3             0.290587      0.288055      0.000000
25         RH_1             0.553516      0.519502      0.017880

# ques 18

In [43]:
ridge_prediction = ridge_reg.predict(X_test)
RMSE = np.sqrt(metrics.mean_squared_error(y_test,ridge_prediction))
RMSE
round(RMSE,3)

0.088

# ques 20

In [44]:
lasso_pred = lasso_reg.predict(X_test)
RMSE = np.sqrt(metrics.mean_squared_error(y_test,lasso_pred))
RMSE
round(RMSE,3)

0.094